# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build directories
dist/
build/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Dependency directories
/node_modules
/.pnp
.pnp.js

# Testing
/coverage
*.lcov

# IDEs and editors
/.idea/
/.vscode/
/*.sublime-project
/*.sublime-workspace

# Operating system files
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Static files
/public/static

# Miscellaneous
*.pem
*.log

# Docker
docker-compose.override.yml
docker-compose.override.yaml
.dockerignore

# PostgreSQL data
pgdata/
